.crear-politica-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.crear-politica-header{
    flex-basis: 25%;
    padding: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 20%;
    flex-grow: 0.8;
    min-width: 200px;
    max-width: 500px;
}

.crear-politica-body{
    flex-basis: 75%;
    padding: 1rem;
    margin: 0 auto;
    flex-grow: 0.8;
}

.crear-politica-footer{
    flex-basis: 100%;
    margin: 1rem auto;
    margin-top: 1rem;
    margin-bottom: 5rem;
    width: 100%;
    flex-grow: 0.8;
    min-width: 300px;
    max-width: 600px;

}
