.planificacion-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.planificacion-header{
    flex-basis: 25%;
    margin:0 auto;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 20%;
    flex-grow: 0.8;
    min-width: 300px;
    max-width: 600px;
}

.planificacion-body{
    flex-basis: 75%;
    padding: 1rem;
    margin: 0 auto;
    flex-grow: 1;
}

.planificacion-footer{
    
    margin: 5rem 3rem; /* Cambiado a 1rem 0 para eliminar margen superior e inferior */
    margin-left: auto;
}
