.vis-time-axis .vis-grid.vis-minor {
  border-color: #bfbfbf74 !important;
}
.vis-time-axis .vis-grid.vis-major {
  border-color: rgba(118, 56, 56, 0.845) !important;
}
.timeline-container { 
    width: 100%;
    font-family: roboto, sans-serif;
    
  }
  
  /* Aplica la fuente a todos los elementos del timeline */
  .vis-timeline, .vis-item, .vis-label, .vis-item-overflow {
    font-family:  roboto;
    overflow: visible !important;
    
  }
  /* modificar minorlabel*/
 

  .vis-major{
    overflow: visible !important;
    padding: 10px; 
    font-weight: bold;

    
  }

  
  .vis-time-axis .vis-minor {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    transform-origin: left bottom;
    white-space: nowrap; /* Evita el corte del texto */
    border-color: #2336dd;

  }


  
  .vis-time-axis{
    height: 10px;
    margin: 2px;
  }
  
   .vis-minor{
    overflow: visible !important;
    padding: 10px; 
    margin: 10px;
    height: 60px;
    font-family: roboto;
    letter-spacing: 1px;

  }
  .vis-item.vis-background.periodo {
    background-color: rgba(20, 130, 220, 0.311);
  }
  
 